/* css reset */

ol, ul {
    list-style: none outside none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

/* body */

html {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	background-color: black;
	font-family: 'Press Start 2P', cursive;
	color: white;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1em;
	font-size: 18px;
}

.header-span:first-child {
	color: #003A70;
}

.header-span:last-child {
	color: #FFBD17;
}

#game-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 50%;
	height: 50%;
	padding: 2em;
	border: 1px solid white;
}

#story-text, #inventory-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 90%;
	height: 999px;
	overflow: scroll;
	margin-top: 1em;
	margin-bottom: 3em;
	font-size: 12px;
	line-height: 200%;
}

#inventory-text {
	display: none;
	margin-top: 0em;
}

#inventory-text h2 {
	font-size: 14px;
	color: #fce4a9;
}

#inventory-text p {
	padding-bottom: 10px;
}

#story-text p {
	padding-bottom: 20px;
}

#buttons {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.primary-btn {
	padding: 1em;
	margin-left: 1em;
	margin-right: 1em;
	background-color: white;
	border: none;
	font-family: 'Press Start 2P', cursive;
	font-size: 12px;
	box-shadow: 0px 5px white, 0px 10px 15px rgba(255, 255, 255, .3);
	border-radius: 10px;
	color: black;
	background-color: #FFBD17;
	width: 135px;
}

.primary-btn:last-child {
	background-color: #003A70;
	color: white;
}

#buttons button:focus {
	outline: none;
}

#buttons button:active {
	margin-bottom: -5px;
	box-shadow: 0px 0px gray;
}

#buttons button:disabled {
	background-color: #A3A3A3;
	box-shadow: 0px 5px #D5D5D5;
	color: black;
}

@media only screen and (max-width: 1200px) {

	#game-wrapper {
		height: 55%;
		width: 65%;
	}

}

@media only screen and (max-width: 1024px) {

	#story-text, #inventory-text {
		font-size: 13px;
	}

}

@media only screen and (max-width: 910px) {

	#game-wrapper {
		height: 55%;
		width: 70%;
	}

	.primary-btn {
		font-size: 11px;
		width: 130px;
	}

}

@media only screen and (max-width: 768px) {

	header {
		font-size: 16px;
	}

	#story-text, #inventory-text {
		font-size:13px;
	}

	#game-wrapper {
		height: 65%;
		width: 75%;
	}

	.primary-btn {
		font-size: 10px;
		width: 115px;
	}

}

@media only screen and (max-width: 650px) {

	header {
		font-size: 14px;
	}

	#story-text, #inventory-text {
		font-size: 12px;
	}

	.primary-btn {
		font-size: 9px;
		width: 100px;
	}

}

@media only screen and (max-width: 550px) {

	header {
		font-size: 12px;
	}

	#story-text, #inventory-text {
		font-size: 11px;
	}

	#inventory-text h2 {
		font-size: 13px;
	}

	#game-wrapper {
		height: 75%;
		width: 75%;
	}

	#buttons {
		display: block;
	}

	.primary-btn {
		text-align: center;
		font-size: 9px;
		height: 40px;
		width: 140px;
		float: left;
	}

	.primary-btn:nth-child(3) {
		clear: left;
	}

	.primary-btn:nth-child(3), .primary-btn:nth-child(4) {
		margin-top: 20px;
	}

	#buttons .primary-btn:nth-child(1):active, #buttons .primary-btn:nth-child(2):active {
		margin-top: 5px;
	}

	#buttons .primary-btn:nth-child(3):active, #buttons .primary-btn:nth-child(4):active {
		margin-top: 25px;
	}
}

@media only screen and (max-width: 425px) {

	#story-text, #inventory-text {
		font-size: 10px;
	}

	#inventory-text h2 {
		font-size: 12px;
	}

	.primary-btn {
		width: 120px;
	}
}

@media only screen and (max-width: 370px) {

	#story-text, #inventory-text {
		font-size: 10px;
	}

	#inventory-text h2 {
		font-size: 11px;
	}

	.primary-btn {
		width: 100px;
		font-size: 8.5px;
	}
}